* {
	margin: 0;
	padding: 0;
}
html, body {
	height: 100%;
}
body {
	overflow-x: hidden;
	background-color: #efefef;
	font-family: Arial, Courier, Monaco, monospace;
}
a {
	color: #1976D2;
	display: inline-block;
	position: relative;
	text-decoration: none;
}
a:hover {
	background-color: rgba(33,150,243, 0.1);
	text-decoration: underline;
}



#home {
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
}
#hello_world {
	font-size: 120%;
}
.matrix_effect {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}
.profile_picture  img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25vh;
	border-radius: 50%;
	position: relative;
}
.profile_picture .profile_banner {
	font-family: Consolas, monaco, monospace;
	position: relative;
	text-align: center;
	background: rgba(0, 0, 0, 0.0);
    color: #00ff00;
    padding: 8px;
    
	font-size: 150%;
}
#typewriter_bash {
	overflow: hidden;
	border-right: .15em solid orange;
	white-space: nowrap;
	margin: 0 auto;
	letter-spacing: .15em;
	animation: blink-caret .75s step-end infinite;
}
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #00ff00; }
}

/*Nav-bar at top of screen*/
.quick-nav-bar {
	position: fixed;
	top: 0;
	width: 100vw;
	text-align: justify;
	overflow: hidden;
	background-color: #424447;
	
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 999;
}
.quick-nav-bar li {
	display: inline-block;
	text-align: center;

	flex: 1;
	-webkit-flex: 1; /*Safari*/
	-ms-flex: 1; /*Internet Explorer*/
}
.quick-nav-bar li:hover {
	opacity: 0.8;
	background-color: #dee1e5;
}
.quick-nav-bar li a {
	margin: 0;
	padding: 15px 0 15px 0;
	display: block;
	height: 100%;
	color: #dee1e5;
	text-decoration: none;
}
.quick-nav-bar li a:hover {
	color: inherit;
}
.quick-nav-bar:after {
	content: '';
	display: none;
}
.nav-link, .nav-link:hover, .nav-link:after {
	color: #dee1e5;
}
.about_me_para {
	line-height: 150%;
}
.objective {
	margin-top: -7%;	
}
.slick-initialized .slick-track {
    display: flex;
    align-items: center;
}
.objective, .experience h2 {
	margin-left: 5em;
	margin-right: 5em;
}
.experience {
	margin-top: 5em;	
}
.carousel_item, .carousel_item img {
	display: block;
	margin: 0 auto;
}
.experience_container {
	display: flex;
	justify-items: center;
}
img {
	max-width: 100%;
	height: auto;
	width: auto/9;
}
.experience_para {
	text-align: jusitfy;	
}
.experience_header {
	margin-left: 7.5em;
}
.experience_header #mob {
	display: none;
}
.education {
	width: 100vw;
}
.courses {

}
.edurow {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	text-align: center;
}
.card {
	background: #fff;
	border-radius: 2px;
	height: 300px;
	margin: 1rem 1rem 2rem;
	width: 300px;
}
/*noinspection CssUnknownProperty*/
.educard {
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.flip-container {
	-webkit-perspective: 1000;
	-moz-perspective: 1000;
	-ms-perspective: 1000;
	perspective: 1000;

	-ms-transform: perspective(1000px);
	-moz-transform: perspective(1000px);
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
}

/* START: Accommodating for IE */
.flip-container:hover .back, .flip-container.hover .back, .flip-container:active .back {
	-webkit-transform: rotateY(0deg);
	-moz-transform: rotateY(0deg);
	-o-transform: rotateY(0deg);
	-ms-transform: rotateY(0deg);
	transform: rotateY(0deg);
}
.flip-container:hover .front, .flip-container.hover .front, .flip-container:active .front {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
	transform: rotateY(180deg);
}
/* END: Accommodating for IE */

.flip-container, .front, .back {
	width: 300px;
	height: 300px;
}

.flipper {
	-webkit-transition: 0.6s;
	-webkit-transform-style: preserve-3d;
	-ms-transition: 0.6s;

	-moz-transition: 0.6s;
	-moz-transform: perspective(1000px);
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;

	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}
.front, .back {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;

	-webkit-transition: 0.6s;
	-webkit-transform-style: preserve-3d;
	-webkit-transform: rotateY(0deg);

	-moz-transition: 0.6s;
	-moz-transform-style: preserve-3d;
	-moz-transform: rotateY(0deg);

	-o-transition: 0.6s;
	-o-transform-style: preserve-3d;
	-o-transform: rotateY(0deg);

	-ms-transition: 0.6s;
	-ms-transform-style: preserve-3d;
	-ms-transform: rotateY(0deg);

	transition: 0.6s;
	transform-style: preserve-3d;
	transform: rotateY(0deg);

	position: absolute;
	top: 0;
	left: 0;
}
.front {
	-webkit-transform: rotateY(0deg);
	-ms-transform: rotateY(0deg);

	z-index: 2;
}

.back {
	background: #ffffff;
	-webkit-transform: rotateY(-180deg);
	-moz-transform: rotateY(-180deg);
	-o-transform: rotateY(-180deg);
	-ms-transform: rotateY(-180deg);
	transform: rotateY(-180deg);
}
.eduContent {
	background-color: #dbefff;
	line-height: 150%;
}
#data_center a {
	margin: 15px auto;
}
#networking a {
	margin-top: 5px;
}
.eduintro  {
	text-align: justify;
	margin-left: 7.5em;
	margin-right: 7.5em;
}
.eduintro  #mob {
	display: none;
}
.certification {
	margin-left: 7.5em;
	margin-top: 7.5em;
}
.projects {
	margin: auto 7.5em auto 7.5em;
}
.projects_display {
	width: 100%;
	height: 250px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.projects_display:hover {
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.display_left {
	float: left;
	left: 0;
}
.display_right {
	float: right;
	right: 0;
}
.projects_display {
	margin-bottom: 3rem;
	*zoom: 1;
}
.projects_display:before, .projects_display:after {
	content: " ";
	display: table
}
.projects_display:after {
	clear: both;
}
.project_description {
	margin: auto;
}

.contact-images {
	display: flex;
	flex: 1;
	flex-wrap: wrap;
	justify-content: space-around;
}
/*If viewed on mobile*/
@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {
	.profile_picture .profile_banner {
		font-size: 80%;
	}
	.profile_picture .profile_banner #typewriter_bash #hello_world {
		font-size: 100%;
	}
	.profile_picture img {
		width: 180px;
		height: auto;
	}
	.quick-nav-bar {
		display: none;	
	}
	
	.objective_title {
		display: none;
	}
	.about_me_para {
		margin-top: 20px;
	}
	.objective {
		margin-top: -25%;	
	}
	.experience #mob {
		text-align: center;
		display: inherit;
	}
	.experience #pc {
		display: none;
	}
	.experience, .experience .experience_header {
		margin: 5px auto auto;
	}
	.eduintro {
		margin: 1rem;
	}
	.eduintro #pc {
		display: none;
	}
	.eduintro #mob {
		display: inherit;
	}
	.projects {
		display: none;
	}
	.certification {
		margin: 0;
		justify-content: center;
	}

}
