* {
	margin: 0;
	padding: 0;
}
html, body {
	height: 100%;
}
body {
	overflow-x: hidden;
	background-color: #efefef;
	font-family: "Arial";
}
#home {
	height: 100%;
	top: 0;
	left: 0;
}
#hello_world {
	font-size: 120%;
}
.matrix_effect {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}
.profile_picture  img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25vh;
	border-radius: 50%;
	position: relative;
}
.profile_picture .profile_banner {
	font-family: Consolas, monaco, monospace;
	position: relative;
	text-align: center;
	background: rgba(0, 0, 0, 0.0);
    color: #00ff00;
    padding: 8px;
    
	font-size: 150%;
}
#typewriter_bash {
	overflow: hidden;
	border-right: .15em solid orange;
	white-space: nowrap;
	margin: 0 auto;
	letter-spacing: .15em;
	animation: blink-caret .75s step-end infinite;
}
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #00ff00; }
}

/*Nav-bar at top of screen*/
.quick-nav-bar {
	position: fixed;
	top: 0;
	width: 100vw;
	text-align: justify;
	overflow: hidden;
	background-color: #424447;
	
	display: flex;
	align-items: center;
	justify-content: center;
	
}
.quick-nav-bar li {
	display: inline-block;
	text-align: center;
	
	flex: 1;
	-webkit-flex: 1; /*Safari*/
	-ms-flex: 1; /*Internet Explorer*/
}
.quick-nav-bar li:hover {
	opacity: 0.8;
	background-color: #dee1e5;
}
.quick-nav-bar li a {
	margin: 0px;
	padding: 15px 0px 15px 0px;
	display: block;
	height: 100%;
	color: #dee1e5;
	text-decoration: none;
}
.quick-nav-bar li a:hover {
	color: inherit;
}
.quick-nav-bar:after {
	content: '';
	display: none;
}
.nav-link, .nav-link:hover, .nav-link:after {
	color: #dee1e5;
}
.about_me_para {
	line-height: 150%;
}
.objective {
	margin-top: -7%;	
}
img {
	max-width: 100%;
	height: auto;
	width: auto/9;
}
.slick-initialized .slick-track {
    display: flex;
    align-items: center;
}
.objective, .experience {
	margin-right: 5em;
	margin-left: 5em;
}
.experience {
	margin-top: 5em;	
}
.carousel_item, .carousel_item img {
	display: block;
	margin: 0 auto;
}
.experience_container {
	display: flex;
	justify-items: center;
}
/*If viewed on mobile*/
@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {
	.profile_picture .profile_banner {
		font-size: 80%;
	}
	.profile_picture .profile_banner #typewriter_bash #hello_world {
		font-size: 100%;
	}
	.profile_picture img {
		width: 180px;
		height: auto;
	}
	.quick-nav-bar {
		display: none;	
	}
	
	.objective_title {
		display: none;
	}
	.about_me_para {
		margin-top: 20px;
	}
	.objective {
		margin-top: -25%;	
	}
}